@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
      background-color: $dark;
      line-height: 1.6;
      overscroll-behavior: none;
      overflow-x: hidden;
      max-width: 100%;
      
  }

  html {
      scroll-behavior: smooth;
  }

  